<h1> <%= @reward.name %> <h1>

  <h3> The value for this reward is:</h3><h2> <%= @reward.cost %> point(s)</h2>

  <%= link_to "Edit This Reward", edit_reward_path(@reward) %>
  <%= link_to "Reward Index", rewards_path %>
  <%= link_to "Delete This Reward", reward_path(@reward, id: @reward.id), method: :delete%>
